In [1]:
!ls

marketing_customer_analysis.csv solution_lab_2.ipynb

In [3]:
import pandas as pd
import numpy as np

In [8]:
#show the data frame shape
data = pd.read_csv ('marketing_customer_analysis.csv')
display (data)
display (data.head ())
display (data.tail ())
data.shape

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

(10910, 26)

In [7]:
#standardize header name
cols = []

for c in data.columns:
 cols.append(c.lower())
data.columns = cols

display (cols)

['unnamed: 0',
 'customer',
 'state',
 'customer lifetime value',
 'response',
 'coverage',
 'education',
 'effective to date',
 'employmentstatus',
 'gender',
 'income',
 'location code',
 'marital status',
 'monthly premium auto',
 'months since last claim',
 'months since policy inception',
 'number of open complaints',
 'number of policies',
 'policy type',
 'policy',
 'renew offer type',
 'sales channel',
 'total claim amount',
 'vehicle class',
 'vehicle size',
 'vehicle type']

In [9]:
data.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [10]:
#which columns are numerical
data._get_numeric_data()

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [11]:
#which columns are categorical
data._get_bool_data()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[10910 rows x 0 columns]

In [15]:
data.select_dtypes (include =['category'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[10910 rows x 0 columns]

In [25]:
#check and deal with Nan values 
data.isna().sum()

Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [27]:
nulls_df = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
display(nulls_df)

                                   0
Unnamed: 0                      0.00
Customer                        0.00
State                           5.78
Customer Lifetime Value         0.00
Response                        5.78
Coverage                        0.00
Education                       0.00
Effective To Date               0.00
EmploymentStatus                0.00
Gender                          0.00
Income                          0.00
Location Code                   0.00
Marital Status                  0.00
Monthly Premium Auto            0.00
Months Since Last Claim         5.80
Months Since Policy Inception   0.00
Number of Open Complaints       5.80
Number of Policies              0.00
Policy Type                     0.00
Policy                          0.00
Renew Offer Type                0.00
Sales Channel                   0.00
Total Claim Amount              0.00
Vehicle Class                   5.70
Vehicle Size                    5.70
Vehicle Type                   50.25

In [28]:
data [data ['State'].isna ()==True]. head (60)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
5,5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
11,11,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
58,58,BR69566,NaN,14019.833140,NaN,Basic,College,2/18/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN
62,62,UF44021,NaN,2108.493744,NaN,Basic,Bachelor,1/2/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,351.856810,Two-Door Car,Medsize,NaN
126,126,TE60343,NaN,4716.264294,NaN,Basic,High School or Below,2/25/11,Employed,M,...,1.0,3,Corporate Auto,Corporate L3,Offer2,Agent,292.800000,Four-Door Car,Medsize,A
131,131,QK24293,NaN,6265.343299,NaN,Extended,Doctor,1/13/11,Unemployed,F,...,1.0,4,Corporate Auto,Corporate L1,Offer1,Agent,481.025786,Four-Door Car,Medsize,NaN
155,155,JG35886,NaN,4111.888285,NaN,Premium,College,1/21/11,Employed,F,...,0.0,1,Personal Auto,Personal L2,Offer2,Call Center,480.073548,Four-Door Car,Medsize,A
168,168,FV22585,NaN,6960.920371,NaN,Extended,College,2/4/11,Employed,M,...,0.0,3,Personal Auto,Personal L1,Offer1,Call Center,16.711329,Four-Door Car,Medsize,NaN
169,169,AU23837,NaN,5010.379310,NaN,Basic,Bachelor,1/19/11,Employed,F,...,NaN,7,Corporate Auto,Corporate L3,Offer1,Agent,295.871784,Four-Door Car,Large,A
190,190,VZ18907,NaN,21991.615980,NaN,Basic,College,1/12/11,Employed,F,...,0.0,2,Personal Auto,Personal L3,Offer2,Branch,132.139111,SUV,Large,NaN
226,226,VK57280,NaN,4727.354548,NaN,Basic,Bachelor,1/3/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L2,Offer2,Call Center,345.600000,Four-Door Car,Medsize,NaN
251,251,EA52579,NaN,7687.296987,NaN,Basic,Bachelor,2/26/11,Unemployed,F,...,0.0,3,Personal Auto,Personal L1,Offer3,Call Center,523.200000,SUV,Medsize,NaN
270,270,KX23516,NaN,4455.843406,NaN,Extended,High School or Below,2/20/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Agent,699.615192,SUV,Medsize,NaN
304,304,PP39078,NaN,5623.611187,NaN,Basic,College,2/19/11,Employed,F,...,0.0,3,Special Auto,Special L1,Offer4,Branch,340.800000,Four-Door Car,Small,A
305,305,WZ83320,NaN,9061.057741,NaN,Premium,Master,2/18/11,Employed,F,...,0.0,8,Personal Auto,Personal L1,Offer3,Web,419.303041,Four-Door Car,Medsize,A
321,321,WQ85760,NaN,4260.335730,NaN,Basic,College,2/5/11,Medical Leave,M,...,0.0,1,Corporate Auto,Corporate L3,Offer3,Branch,856.800000,SUV,Medsize,NaN
323,323,GF70857,NaN,2933.960426,NaN,Extended,College,1/28/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,199.851201,Four-Door Car,Medsize,A
329,329,OE15600,NaN,2544.969754,NaN,Basic,College,2/6/11,Employed,M,...,NaN,1,Personal Auto,Personal L3,Offer2,Call Center,139.745936,Two-Door Car,Medsize,A
334,334,AV76907,NaN,4282.947971,NaN,Basic,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L3,Offer1,Agent,166.937747,SUV,Medsize,A
347,347,WT71621,NaN,3280.457296,NaN,Extended,Bachelor,2/2/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,251.756739,Four-Door Car,Medsize,A
385,385,OQ61223,NaN,17497.522010,NaN,Basic,College,2/28/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer1,Agent,350.400000,Two-Door Car,Medsize,NaN
403,403,ET47892,NaN,12280.766610,NaN,Premium,College,1/1/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer1,Branch,489.600000,Two-Door Car,Medsize,A
404,404,XD19546,NaN,8160.689782,NaN,Basic,High School or Below,1/21/11,Unemployed,F,...,0.0,7,Personal Auto,Personal L1,Offer1,Web,523.200000,SUV,Medsize,NaN
430,430,AB96670,NaN,2393.915369,NaN,Basic,College,1/31/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer1,Branch,425.266308,Four-Door Car,Medsize,NaN
455,455,PO56357,NaN,5363.528173,NaN,Basic,High School or Below,1/1/11,Employed,F,...,1.0,8,Personal Auto,Personal L3,Offer1,Web,272.445607,Four-Door Car,Medsize,A
475,475,MB20764,NaN,17622.133200,NaN,Premium,High School or Below,2/18/11,Unemployed,M,...,0.0,3,Corporate Auto,Corporate L2,Offer4,Branch,1814.400000,Luxury SUV,Medsize,A
478,478,DO98345,NaN,13156.748950,NaN,Extended,High School or Below,2/28/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer2,Web,371.458196,Two-Door Car,Medsize,NaN
491,491,IE97795,NaN,6878.008403,NaN,Extended,High School or Below,2/5/11,Employed,M,...,0.0,5,Corporate Auto,Corporate L1,Offer3,Agent,485.013840,NaN,NaN,A
574,574,WR85740,NaN,8149.769437,NaN,Basic,Doctor,1/26/11,Unemployed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Call Center,340.800000,Two-Door Car,Medsize,A
595,595,TN17395,NaN,22103.507200,NaN,Basic,College,1/30/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L3,Offer1,Branch,489.600000,SUV,Medsize,A
597,597,EP64069,NaN,5138.244998,NaN,Basic,Bachelor,1/8/11,Employed,F,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Web,272.649844,Four-Door Car,Medsize,NaN
605,605,OD18225,NaN,6631.665538,NaN,Extended,College,1/18/11,Employed,M,...,0.0,3,Personal Auto,Personal L2,Offer3,Agent,403.200000,Four-Door Car,Medsize,A
648,648,RS29507,NaN,10395.709390,NaN,Extended,Bachelor,2/10/11,Unemployed,F,...,0.0,2,Personal Auto,Personal L3,Offer2,Agent,337.797690,Four-Door Car,Medsize,NaN
662,662,YS94121,NaN,5645.396665,NaN,Basic,High School or Below,2/27/11,Employed,M,...,0.0,9,Personal Auto,Personal L1,Offer1,Call Center,428.734656,Four-Door Car,Small,A
670,670,RL51023,NaN,4185.757242,NaN,Basic,College,2/16/11,Unemployed,M,...,0.0,3,Corporate Auto,Corporate L1,Offer2,Call Center,492.644465,Four-Door Car,Small,NaN
686,686,NQ71171,NaN,5107.071054,NaN,Basic,Bachelor,2/2/11,Employed,M,...,0.0,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN
690,690,OO11998,NaN,4583.748377,NaN,Basic,Master,1/19/11,Employed,M,...,4.0,1,Personal Auto,Personal L2,Offer1,Branch,764.592151,SUV,Medsize,NaN
720,720,ON74557,NaN,14651.615300,NaN,Extended,Bachelor,1/6/11,Employed,M,...,0.0,2,Personal Auto,Personal L2,Offer3,Branch,393.151377,SUV,Medsize,NaN
725,725,JC33752,NaN,6277.844624,NaN,Extended,College,1/21/11,Employed,F,...,1.0,9,Personal Auto,Personal L3,Offer2,Agent,450.129276,Two-Door Car,Large,NaN
726,726,SY86059,NaN,3731.504584,NaN,Extended,High School or Below,2/24/11,Unemployed,F,...,NaN,1,Corporate Auto,Corporate L3,Offer1,Agent,460.800000,Four-Door Car,Large,A
729,729,BV86143,NaN,21034.018150,NaN,Basic,High School or Below,2/23/11,Employed,F,...,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,219.209762,Four-Door Car,Medsize,A
732,732,QR45101,NaN,6624.611830,NaN,Basic,Bachelor,2/26/11,Unemployed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Branch,297.600000,Two-Door Car,Medsize,NaN
740,740,RB63074,NaN,4858.067125,NaN,Basic,High School or Below,1/3/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer2,Branch,482.400000,Four-Door Car,Medsize,NaN
744,744,KH24214,NaN,17857.972330,NaN,Basic,College,2/13/11,Employed,M,...,1.0,2,Personal Auto,Personal L3,Offer3,Agent,445.287788,NaN,NaN,NaN
745,745,PB39857,NaN,5129.608404,NaN,Extended,Master,2/23/11,Employed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,343.139611,SUV,Large,NaN
764,764,ZY57929,NaN,8169.746083,NaN,Basic,College,1/26/11,Employed,F,...,0.0,3,Personal Auto,Personal L2,Offer1,Agent,499.200000,SUV,Medsize,A
781,781,GI55977,NaN,2337.351820,NaN,Basic,High School or Below,2/23/11,Medical Leave,F,...,0.0,1,Personal Auto,Personal L1,Offer2,Call Center,292.800000,Four-Door Car,Small,NaN
785,785,KN13494,NaN,5181.620895,NaN,Basic,Master,2/3/11,Employed,F,...,NaN,6,Personal Auto,Personal L1,Offer2,Agent,307.200000,Four-Door Car,Small,A
794,794,RZ97514,NaN,7498.824515,NaN,Basic,Master,1/27/11,Unemployed,F,...,0.0,2,Personal Auto,Personal L1,Offer3,Agent,316.800000,Four-Door Car,Medsize,NaN
796,796,KE61355,NaN,5272.703428,NaN,Basic,High School or Below,2/16/11,Employed,F,...,0.0,3,Corporate Auto,Corporate L1,Offer2,Web,328.366827,Four-Door Car,Medsize,A
814,814,UU70820,NaN,5867.126420,NaN,Basic,College,2/22/11,Employed,F,...,0.0,5,Personal Auto,Personal L3,Offer2,Call Center,199.444294,Four-Door Car,Large,NaN
857,857,HD44279,NaN,5090.448750,NaN,Basic,Bachelor,2/8/11,Disabled,F,...,1.0,4,Personal Auto,Personal L2,Offer1,Branch,340.800000,Four-Door Car,Medsize,A
859,859,PD30266,NaN,5015.643575,NaN,Extended,College,2/10/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer1,Branch,537.315879,SUV,Medsize,NaN
878,878,QN62502,NaN,3839.143697,NaN,Extended,Bachelor,2/7/11,Employed,F,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,157.440069,Four-Door Car,Medsize,A
890,890,EN38348,NaN,23207.269720,NaN,Extended,High School or Below,1/16/11,Employed,F,...,0.0,2,Personal Auto,Personal L2,Offer1,Agent,192.144838,Four-Door Car,Large,A
895,895,ON44465,NaN,5313.294035,NaN,Extended,High School or Below,1/24/11,Unemployed,F,...,1.0,9,Personal Auto,Personal L2,Offer1,Agent,863.394700,Four-Door Car,Medsize,NaN
900,900,XP92021,NaN,13295.602840,NaN,Basic,High School or Below,2/27/11,Employed,F,...,0.0,2,Personal Auto,Personal L1,Offer1,Call Center,528.000000,SUV,Medsize,A
906,906,DP63956,NaN,6791.215414,NaN,Basic,Bachelor,1/10/11,Unemployed,F,...,1.0,8,Corporate Auto,Corporate L2,Offer1,Agent,727.200000,SUV,Large,A
908,908,GG84614,NaN,3031.587812,NaN,Extended,High School or Below,1/8/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer3,Branch,455.545318,Two-Door Car,Medsize,A
909,909,MD15300,NaN,10110.769970,NaN,Extended,College,2/5/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer4,Web,93.309811,Two-Door Car,Large,A

In [32]:
#check and deal with Nan values 
data['State'] = data['State'].fillna("Unknown")
data.head (60)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
5,5,HO81102,Unknown,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
7,7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,...,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
9,9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NaN
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
11,11,GE63585,Unknown,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
12,12,EO51920,Oregon,19955.257130,No,Extended,High School or Below,1/31/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Agent,64.669515,Four-Door Car,Medsize,NaN
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
14,14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2/28/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
17,17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,1/17/11,Unemployed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize,A
18,18,ZC97968,California,2736.352663,No,Basic,College,2/14/11,Disabled,M,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,350.400000,Two-Door Car,Medsize,A
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
20,20,OM80593,California,7247.313475,No,Basic,Bachelor,2/23/11,Unemployed,F,...,0.0,7,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize,A
21,21,RL65736,Oregon,6274.447705,No,Extended,High School or Below,2/14/11,Medical Leave,F,...,0.0,3,Personal Auto,Personal L1,Offer1,Agent,408.000000,Four-Door Car,Small,NaN
22,22,EQ62488,Oregon,15031.564500,No,Basic,College,1/15/11,Employed,F,...,0.0,8,Personal Auto,Personal L3,Offer2,Call Center,907.200000,Luxury Car,Large,A
23,23,NQ71171,California,5107.071054,No,Basic,Bachelor,2/2/11,Employed,M,...,NaN,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN
24,24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2/15/11,Unemployed,M,...,1.0,1,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize,A
25,25,AY59197,Nevada,9521.222806,No,Extended,College,1/24/11,Employed,M,...,0.0,6,Special Auto,Special L3,Offer4,Agent,123.154160,SUV,Small,A
26,26,XF15789,Arizona,8869.619888,No,Basic,College,2/21/11,Employed,F,...,0.0,9,Personal Auto,Personal L3,Offer3,Branch,228.185834,SUV,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN
28,28,CI99444,Nevada,2926.886293,No,Basic,College,2/22/11,Employed,F,...,0.0,1,Special Auto,Special L2,Offer2,Call Center,234.774747,Four-Door Car,Medsize,A
29,29,BD70337,California,24706.920110,No,Basic,High School or Below,1/7/11,Medical Leave,M,...,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,313.192439,Four-Door Car,Medsize,NaN
30,30,GX19342,California,8491.465719,No,Premium,High School or Below,1/28/11,Unemployed,F,...,0.0,3,Personal Auto,Personal L3,Offer1,Branch,1193.115879,Four-Door Car,Large,A
31,31,DP19210,California,9191.733549,No,Basic,Master,2/8/11,Employed,F,...,0.0,6,Corporate Auto,Corporate L2,Offer2,Branch,567.480550,Sports Car,Medsize,NaN
32,32,OJ63606,Arizona,5776.338737,No,Premium,High School or Below,1/28/11,Medical Leave,F,...,3.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,871.457982,SUV,Small,A
33,33,OH23893,California,9115.571690,No,Basic,Bachelor,2/15/11,Employed,F,...,0.0,6,Personal Auto,Personal L1,Offer1,Branch,173.080024,SUV,Medsize,NaN
34,34,RI76930,California,4163.040810,No,Basic,College,2/12/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,499.200000,SUV,Large,NaN
35,35,YK26558,California,5264.642009,No,Basic,College,2/20/11,Unemployed,F,...,0.0,8,Special Auto,Special L3,Offer1,Branch,135.888306,Four-Door Car,Medsize,NaN
36,36,OE15005,California,3945.241604,No,Basic,College,1/5/11,Medical Leave,M,...,0.0,1,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize,NaN
37,37,RA17555,Oregon,5176.730072,No,Basic,High School or Below,2/7/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L2,Offer3,Agent,232.879766,Four-Door Car,Medsize,NaN
38,38,ZI34278,Arizona,4492.233480,No,Basic,Bachelor,1/28/11,Medical Leave,F,...,1.0,6,Personal Auto,Personal L1,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN
39,39,XD72019,Oregon,8470.043225,No,Extended,Bachelor,2/19/11,Unemployed,F,...,0.0,2,Personal Auto,Personal L2,Offer2,Web,479.312226,Four-Door Car,Large,A
40,40,RR93140,California,2880.348532,No,Basic,College,1/5/11,Employed,F,...,0.0,1,Personal Auto,Personal L2,Offer2,Branch,190.642833,Four-Door Car,Medsize,A
41,41,BE25221,Arizona,6182.618843,No,Extended,High School or Below,2/7/11,Medical Leave,M,...,0.0,9,Corporate Auto,Corporate L3,Offer1,Agent,473.266879,Four-Door Car,Medsize,NaN
42,42,PV62583,Nevada,9799.175061,No,Extended,College,1/3/11,Medical Leave,M,...,0.0,6,Personal Auto,Personal L3,Offer1,Web,604.800000,SUV,Medsize,A
43,43,BL12371,Arizona,5790.565333,No,Basic,Master,2/3/11,Employed,M,...,0.0,5,Personal Auto,Personal L3,Offer2,Agent,28.925840,Four-Door Car,Large,A
44,44,ER49844,Arizona,5041.447024,No,Basic,College,1/19/11,Employed,M,...,2.0,5,Personal Auto,Personal L1,Offer4,Call Center,138.961963,Four-Door Car,Medsize,NaN
45,45,RI22468,Arizona,5745.943340,No,Basic,Bachelor,1/22/11,Employed,F,...,3.0,9,Personal Auto,Personal L1,Offer3,Web,269.905129,Four-Door Car,Medsize,A
46,46,SY48591,Arizona,4827.776810,No,Basic,College,1/17/11,Unemployed,F,...,0.0,6,Personal Auto,Personal L3,Offer1,Branch,326.400000,Four-Door Car,Medsize,NaN
47,47,PR23514,California,7664.219255,No,Basic,College,1/23/11,Employed,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Web,161.615740,Luxury SUV,Medsize,NaN
48,48,UY32623,California,3593.126450,No,Extended,College,2/5/11,Disabled,F,...,1.0,1,Corporate Auto,Corporate L2,Offer1,Branch,460.800000,Four-Door Car,Large,A
49,49,QV30663,Nevada,9863.502214,No,Extended,Master,2/28/11,Employed,F,...,0.0,3,Personal Auto,Personal L3,Offer3,Call Center,272.788141,SUV,Medsize,A
50,50,MS94619,California,5111.304579,No,Basic,High School or Below,2/13/11,Employed,F,...,0.0,3,Personal Auto,Personal L3,Offer3,Web,302.400000,Four-Door Car,Medsize,A
51,51,FT56968,Arizona,2590.096027,No,Basic,High School or Below,1/3/11,Employed,M,...,NaN,1,Personal Auto,Personal L1,Offer1,Agent,321.600000,Four-Door Car,Large,A
52,52,TX39594,Arizona,2452.491364,No,Basic,High School or Below,1/25/11,Employed,F,...,1.0,1,Personal Auto,Personal L3,Offer3,Call Center,406.902001,Two-Door Car,Small,NaN
53,53,GR42174,Oregon,2194.668123,No,Basic,College,1/2/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,623.525433,Four-Door Car,Medsize,NaN
54,54,XI79589,California,4473.883999,No,Extended,High School or Below,2/16/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L1,Offer1,Branch,600.000000,SUV,Medsize,NaN
55,55,XQ74827,Arizona,19435.629240,No,Extended,High School or Below,2/1/11,Employed,F,...,0.0,3,Special Auto,Special L3,Offer1,Agent,2294.631639,Luxury Car,Medsize,A
56,56,TW17878,Oregon,2457.576007,No,Basic,High School or Below,1/27/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer1,Call Center,292.800000,Four-Door Car,Medsize,NaN
57,57,GB43363,Oregon,6870.607058,No,Premium,College,1/24/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L3,Offer1,Branch,756.000000,Four-Door Car,Small,A
58,58,BR69566,Unknown,14019.833140,NaN,Basic,College,2/18/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN
59,59,EP83939,Arizona,5575.751228,No,Basic,High School or Below,1/26/11,Employed,M,...,NaN,5,Personal Auto,Personal L3,Offer2,Call Center,109.904496,Four-Door Car,Medsize,NaN

In [ ]:
#Datetime format

In [ ]:
#Put all mentioned data transormation into a function